svg.icon {
    font-size: 20px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
svg.icon {
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/input.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/i.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 头图遮罩层透明 */
#page-header::before{
  background: transparent!important;
  }
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

@font-face{
  font-family: 'SAOUI';
  src: url('https://npm.elemecdn.com/akilar-candyassets/fonts/SAOUI.ttf');
  font-display: swap;
}
#div1 {
    position: relative;/*必须，为了梯形定位*/
    width: 341px;
    height: 500px;
    background: #ebe9ea;
    margin-top: 100px;
    border: 2px solid #877c7e;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    border-top-left-radius: 5px;
}
.trapezoidMaxLine {/*最外层梯形所在的div*/
    position: absolute;/*相对于div1定位*/
    /* background: #062343;/*设置成背景色，遮挡下边框*/ */
    z-index: 4;
    height: 27px;/*根据实际情况*/
    width: 150px;/*根据实际情况*/
    top: -29px;/*定位，根据实际情况*/
    left: 8px;
}
/*重点来啦！！！最外层梯形代码在此*/
.trapezoidMaxLine:before {
    content: '';
    position: absolute;/*相对于trapezoidMaxLine定位*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: 2px solid #877c7e;
    border-bottom: 0 solid #fff;
    transform: perspective(6px) rotateX(3deg);
}
/*内层梯形所在的div，和最外层的一样，区别是定位参照物，和颜色位置*/
.trapezoidMinLine {/*内层梯形所在的div*/
    position: absolute;
    z-index: 4;
    height: 27px;
    width: 148px;
    top: 1px;
    left: 1px;
}
.trapezoidMinLine:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ebe9ea;
    border: 1px solid #877c7e;
    border-bottom: 0 solid #fff;
    transform: perspective(6px) rotateX(3deg);
  }
  span.unitName.titleText {
    font-family: 'SAOUI';
    font-size: 20px;
    font-weight: bolder;
    color: rgba(60, 60, 61,0.7)!important;
    top: 10px;
    position: absolute;
    z-index: 5;
    left: 30px;
    width: 100%;
  }
  span.unitName.titleText i{
    margin-right: 10px;
  }
  span.unitName.titleText::after{
  display: block;
  width: 90%;
  margin-left: -10%;
  margin-top: 2px;
  height: 2px;
  content: '';
  background: rgba(160, 159, 160,0.9);
  border-radius: 5px;
}
#userVisitEchart{
  background: #fff;
  height: 90%;
  width: 90%;
  margin: 5% 5%;
}

/* SAOUI字体精简包，仅73KB */
@font-face{
  font-family: 'SAOUI';
  src: url('https://npm.elemecdn.com/akilar-candyassets/fonts/SAOUI.ttf');
  font-display: swap;
}
/* 应用于除了作者卡片以为的所有侧栏卡片 */
.card-widget:not(.card-info) {
  overflow: visible !important;
  margin-top: 45px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px !important;
  font-family: 'SAOUI';
  color: rgba(60,60,61,0.7);
  font-weight: bold;
}
/* 修复一下对侧栏电子钟的覆盖 */
.card-widget.card-clock {
  overflow: hidden !important;
  border-radius: 8px !important;
  margin-top: 0px !important;
}
/* 定义标题栏的定位方式为绝对定位 */
.item-headline {
  font-family: 'SAOUI';
  color: rgba(60,60,61,0.7);
  font-weight: bold;
  position: absolute;
  z-index: 4;
  height: 27px;
  width: 65%;
  top: -27px;
  left: 7px;
}
/* 标题栏下各元素的层级，保证它们能显示在伪类之上 */
.item-headline i {
  position: relative;
  top: 0px;
  margin-left: 5%;
  z-index: 2;
}
.item-headline span {
  position: relative;
  top: 0px;
  z-index: 2;
}
.item-headline a {
  position: relative;
  top: 0px;
  z-index: 2;
}
/* 梯形伪类 */
.item-headline:after {
  content: '';
  position: absolute;
  top: -3px; /*卡片顶部突起上下偏移量*/
  right: 0;
  bottom: 0;
  left: -3px; /*卡片顶部突起左右偏移量*/
  z-index: 1;
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(255,255,255,0.9);
  border-bottom: 0 solid #fff;
  /* 关键形变 */
  transform: perspective(20px) rotateX(3deg);
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
/* 下划线伪类 */
.item-headline:before {
  display: block;
  width: 140%;
  margin-top: 2px;
  height: 2px;
  content: '';
  background: rgba(160,159,160,0.9);
  border-radius: 5px;
  top: 40px;
  left: 0;
  position: relative;
}
/* 针对手机样式的偏移量调整 */
@media screen and (max-width: 800px) {
  .item-headline {
    left: 8px;
  }
}
/* 夜间模式色彩适配，此处仅代表糖果屋夜间模式配色 */
[data-theme="dark"] .card-widget:not(.card-info) {
  color: rgba(255,255,255,0.7) !important;
}
[data-theme="dark"] .item-headline {
  color: rgba(255,255,255,0.7) !important;
}
[data-theme="dark"] .item-headline:after {
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 0 solid rgba(0,0,0,0.5);
}
[data-theme="dark"] .item-headline:before {
  background: rgba(255,255,255,0.9);
}